* {
    /* cursor:url('../cursor/pencil.png'), auto; */
}

html {
    overflow: hidden;
}

.modal-backdrop {
    position: fixed;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 90;
    box-shadow: 0px -3px 20px rgb(0, 0, 0);
}

.sidebar {
    position: absolute;
    width: 20%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(59, 59, 59, 0.993);
    /* blur effect doesnt make sense */
    /* box-shadow: -4px 0px 20px rgb(0, 0, 0); */
    transition: 1s cubic-bezier(0.74, -0.55, 0.29, 1.53);
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    /* background-color:rgba(255, 255, 255, 0.5); */
    background-color: #d8dee9;
    /* color:rgb(255, 255, 255); */
    color: black;
}

.sidebar ul li ul {
    padding: 0;
}

.sidebar ul li ul li {
    list-style: none;
    padding: 0;
}

.sidebar ul li ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin-right: 10px;
    margin-left: 30px;
    display: block;
    border-radius: 5px;
    border-left: 1px solid white;
}

.sidebar ul li form button {
    text-decoration: none;
    color: white;
    text-align: left;
    padding: 15px;
    margin-right: 10px;
    margin-left: 15px;
    display: block;
    border-radius: 5px;
    border-left: 1px solid white;
    background-color: rgba(59, 59, 59, 0);
    border: none;
    width: 92%;
}

.sidebar ul li form button:hover {
    text-decoration: none;
    color: black;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    border-radius: 5px;
    border-left: 1px solid white;
    background-color: #d8dee9;
    border: none;
    width: 92%;
}

#isi {
    position: absolute;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    right: 0;
    transition: 1s cubic-bezier(0.74, -0.55, 0.29, 1.53);
}

#btnmode {
    position: fixed;
    z-index: 99;
    width: 8vh;
    height: 8vh;
    bottom: 20px;
    right: 15px;
}

.navbar {
    justify-content: flex-start;
}

.bgDark {
    background-color: rgb(59, 59, 59);
    color: white;
}

#navbarSupportedContent {
    flex: 1;
    justify-content: end;
}

.navbar-brand {
    align-items: center;
    display: flex
}

.navbar .nav-item {
    flex: 1;
    align-items: center;
    display: flex
}

#text-title {
    font-weight: 700;
    color: rgb(0, 123, 255);
}

#btnsidebar,
.navbar-toggler {
    background-color: #fff;
    border: 0;
    color: rgba(0, 123, 255, 0.993);
}

.img-invert {
    filter: brightness(0) invert(1);
}

.dropdown-item.text-white:hover {
    color: #444 !important;
    background-color: #fff !important;
}


/* Responsive Css Management */

@media only screen and (max-width: 312px) {
    #text-title {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        width: calc(100vw - 140px);
    }
}

@media only screen and (min-width: 600px) {
    #text-title {
        min-width: 15vw;
    }
}